.container {
    position: relative;
    width: 14rem;
    height: 17rem;
}

.containerSelected {
    position: relative;
    width: 14rem;
    height: 17rem;
}

.containerSelected:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px) saturate(100%) contrast(45%) brightness(130%);
    z-index: 10;   
}

.paper {
    height: 100%;
    width: 100%;
}

.headerContainer {
    display: flex;
    align-items: center;
}

.typeIcon {
    padding: .5rem;
}

.header {
    padding: .5rem;
}

.headerText {
    font-weight: bold;
}

.headerText:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.avatar {
    height: 30px;
    width: 30px;
    background-color: red;
}

.media {
    height: 40%;
    padding-top: '56.25%';
}

.info {
    margin: 10px;
}

.description {
    font-weight: bolder;
}

.description:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.addToFav:hover {
    cursor: pointer;
    transform: scale(1.1);   
}

@media (max-width: 600px) {
    .container {
        width: 12rem;
        height: 15rem;
    }
    .containerSelected {
        width: 12rem;
        height: 15rem;
    }
    .avatar {
        height: 1.6rem;
        width: 1.6rem;
    }
    .headerText {
        font-size: 0.8rem;
    }    
    .subheader {
        font-size: .7rem;
    }    
    .description {
        font-size: .9rem;
        font-weight: bolder;
    }
    .priceText {
        font-size: 1rem;
        font-weight: bold;
    }
}
