.homeContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textContainer {
    margin: 8rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.choicesContainer {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.loginContainer {
    display: flex;
    width: 20%;
    justify-content: space-around;
    margin: 5rem;
}

@media (max-width: 600px) {
    .homeContainer {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }    
    .textContainer {
        margin: 1rem 1rem;
        font-size: .9rem;
    }    
    .choicesContainer {
        width: 100%;
        justify-content: space-around;
        margin: 2rem 0;
    }    
    .loginContainer {
        width: 50%;
        height: 6rem;
        flex-direction: column;
        justify-content: space-around;
        margin: 1rem;
    }
}
