.myMessagesContainer {
    width: 100%;
    height: 100%;
    padding: .8rem;  
}

.messagesContainer {
    background-color: white;
    height: 78vh;
}

.contactContainer {
    margin-top: .5rem;
}

.contactPaper {
    padding: .8rem;
}

.contactHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userName {
    font-weight: bold;
    font-size: 1.5rem;
}

.contactText {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

.contactFooter {
    margin-top: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactText {
    margin-top: .5rem;
}

.buttonProgress {
    position: absolute;    
}

@media (max-width: 600px) {
    .button {
        font-size: .7rem;
    }
}