.myMessagesContainer {
    width: 100%;
    height: 100%;
    padding: .8rem;  
}

.messagesContainer {
    background-color: white;
    min-height: 78vh;
    display: flex;
}

.messageListContainer {
    min-width: 20rem;
    margin: 1rem;
}

.messageListItemContainer {
    margin-bottom: .3rem;
    overflow: hidden;
}

.messageListItemContainer:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.senderName {
    font-weight: bold;
}

.messageListItemPaper {
    padding: .5rem;
}

.messageContainer {
    background-color: aqua;
    width: 100%;
    height: 30rem;
    margin: 1rem 1rem 1rem 0;
}

.contactContainer {
    margin-top: .5rem;
}

.contactPaper {
    padding: .8rem;
}

.contactHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userName {
    font-weight: bold;
    font-size: 1.5rem;
}

.contactText {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

.contactFooter {
    margin-top: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactText {
    margin-top: .5rem;
}

.buttonProgress {
    position: absolute;    
}

.success {
    position: absolute;
}

@media (max-width: 600px) {
    .button {
        font-size: .7rem;
    }
}