.myMessagesContainer {
    width: 100%;    
    padding: .8rem;  
}

.messagesContainer {
    display: flex;
}

.messageListContainer {
    min-width: 18rem;
    margin: 1rem;
}

.messageListItemContainer {
    margin-bottom: .3rem;
    overflow: hidden;
}

.messageListItemContainer:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.listItemHeader {
    display: flex;
    justify-content: space-between;
}

.senderName {
    font-weight: bold;
}

.messageListItemPaper {
    padding: .5rem;
}

.messageListItemPaperActive {
    padding: .5rem;
    background-color: rgb(221, 219, 217);
}

.messageContainer {
    width: 100%;
    margin: 1rem 1rem 1rem 0;
}

.messageHeader {
    min-height: 7rem;
    margin: .8rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

.messageHeaderDelete {
    cursor: pointer;
}

.messageHeaderDelete:hover {
    transform: scale(1.1);
}

.messageHeaderReply {
    cursor: pointer;
}

.messageHeaderReply:hover {
    transform: scale(1.1);
}

.messageHeaderInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.messageHeaderButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textField {
    font-weight: bold;
    margin-bottom: .8rem;
    font-size: 1.2rem;
}

.textField:hover {
    cursor: pointer;
}

.messageBody {
    height: 14rem;
    overflow-y: scroll;      
    border-radius: 5px;
    margin: .8rem;
    padding: .8rem;
    background-color: rgb(221, 219, 217);
    border: 1px solid;
}

.messageBody::-webkit-scrollbar {
    width: 3px;
}

.messageBodyReply {
    min-height: 14rem;       
    border-radius: 5px;
    margin: .8rem;
    background-color: rgb(221, 219, 217);
}

.replyText {
    width: 100%;
}

/*.replyText::-webkit-scrollbar {
    width: 3px;
}*/

.messageFooter {
    display: flex;
    align-items: center;
    padding: 0 .8rem .8rem .8rem;
    justify-content: space-between;
}

.contactContainer {
    margin-top: .5rem;
}

.contactPaper {
    padding: .8rem;
}

.contactHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userName {
    font-weight: bold;
    font-size: 1.5rem;
}

.contactText {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

.contactFooter {
    margin-top: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactText {
    margin-top: .5rem;
}

.buttonProgress {
    position: absolute;    
}

.success {
    position: absolute;
}

@media (max-width: 600px) {
    .button {
        font-size: .7rem;
    }
}