/* Add comment */
.addCommentContainer {
    background-color: white;
    padding: .5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.paper {
    padding: .8rem;
}

.addButton {
    margin-top: .8rem;
    position: relative;
}

.buttonProgress {
    position: absolute;    
}


/* Comment */
.commentContainer {
    margin-bottom: 1rem;
}

.commentPaper {
    padding: 0.8rem;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    
}

.headerProfile {
    display: flex;
}

.avatar {
    margin-right: .6rem;;
}

.name {
    font-weight: bold; 
    font-size: .95rem;
}

.name:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.commentBody {
    min-height: 3rem;
    padding: 0.8rem;
    margin-top: .5rem;    
    border-radius: 5px;
    background-color: rgb(221, 219, 217);
}

.deleteIcon:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.loading {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .avatar {
        
    }
    .name {
        font-size: .85rem;
    }
    .date {        
        font-size: .8rem;     
      }
    .comment {        
        font-size: .85rem;
      }
    
}
