.container {
    background-color: white;
    padding: .5rem;
    margin-bottom: 1rem;
}

.grid {
    justify-content: center;
}

.text {
    margin-top: 1.6rem;
}

.description {
    font-weight: bold;
}

.textModify {
    color: rgb(219, 44, 44);
    font-weight: bold;
}

.paper {
   padding: .8rem;
   position: relative; 
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    margin: .2rem;
}

.close:hover {
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.buttons {
    margin-top: .8rem
}

.button {
    margin-right: 0.8rem;
}

.updateBtn {
    background-color: rgb(7, 173, 118);
    margin-right: 0.8rem;
}

.addToFav {
    position: absolute;
    right: 0;
    bottom: 0;  
}

.addToFav:hover {
    cursor: pointer;
    transform: scale(1.1);   
}

.noPosts {
    padding: 1rem;
    background-color: white;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .button {
        font-size: .7rem;
    }
    .updateBtn {
        font-size: .7rem;
    }
    .textField {
        font-size: .9rem;
    }
}

